<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h1>
        {% block header %}
        {% if user.is_authenticated %}
        Hi {{ user.username }}, good to see you (^_^)_/ !!!!
        {% else %}
        WELCOME TO THE GAME DIRECTORY
        {% endif %}
        {% endblock %}
    </h1>
    {% block content %}
    {% if user.is_authenticated %}
    <p><a href="{% url 'logout' %}">logout</a></p>
    <a href="{% url 'gameEntry' %}">Add Game</a><br>
    {% for eachOption in addGame %}
    {{ eachOption.name }}
    <a href="{% url 'edit' eachOption.id %}">Edit</a>
    <a href="{% url 'delete' eachOption.id %}">Delete</a>
    {% endfor %}
    {% else %}
    <p>Log in or create a new account</p>
    <a href="{% url 'login' %}">login</a>
    {% endif %}
    <hr>
    <a href="{% url 'newUser' %}">New Account</a>
    <hr>
    {% endblock %}
</div>


</body>
</html>