<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h1>
        {% block header %}
        WELCOME TO THE GAME DIRECTORY
        {% endblock %}
    </h1>
    {% block content %}
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    {% endif %}
    <hr/>
    <a href="{% url 'newUser' %}">New Account</a>
    <hr>
    {% endblock %}
</div>


</body>
</html>